* {
  box-sizing: border-box;
}

body {
  background-color: $black;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: $container-padding;
  margin: 0 auto;
}

section {
  padding: $section-padding;

  @include max-width($tablet) {
    padding: $section-padding-tablet;
  }

  @include max-width($phone) {
    padding: $section-padding-phone;
  }
}

a {
  color: $white;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $green;
    text-decoration: none;
  }
}
