@use 'mixins';
@use 'variables';

* {
  box-sizing: border-box;
}

body {
  background: url('/img/BG.jpg'), variables.$black;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixins.max-width(600px) {
    background: url('/img/BG_mobile.jpg'), variables.$black;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container {
  width: 100%;
  max-width: variables.$container-max-width;
  padding: variables.$container-padding;
  margin: 0 auto;
}

section {
  padding: variables.$section-padding;

  @include mixins.max-width(variables.$tablet) {
    padding: variables.$section-padding-tablet;
  }

  @include mixins.max-width(variables.$phone) {
    padding: variables.$section-padding-phone;
  }
}

a {
  color: variables.$white;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: variables.$green;
    text-decoration: none;
  }
}
