.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.4s;

  @media (max-width: 768px) {
    padding: 15px;
  }
  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;
    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }
  .modal {
    position: relative;
    z-index: 11;
    display: inline-block;
    width: 100%;
    max-width: 480px;
    padding: 50px 50px 30px;
    font-size: 1rem;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: scale(0.6);

    @media (max-width: 992px) {
      padding: 30px 20px;
    }

    @media (max-width: 768px) {
      padding: 30px 15px;
    }
    &--small {
      max-width: 480px;
    }
    &--medium {
      max-width: 540px;
    }
    &--large {
      max-width: 740px;
    }
    &--no-padding {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.modal-title {
  font-weight: 500;
  font-size: 2rem;
  color: $black;
}

.modal-desc {
  margin: 0 0 25px 0;
  font-weight: normal;
  font-size: 20px;
  color: $black;
}

.modal-form {
  .constructor-form__name {
    color: $black;
    min-width: auto;
  }

  .input {
    border: 1px solid #c3c3c3;
    width: 100%;
    max-width: 320px;
  }

  .button {
    margin: 40px auto 0;
    display: flex;
    font-size: 1.75rem;
  }
}

.modal-buttons {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: flex-end;

  .button {
    margin: 5px;
    min-width: initial;
    cursor: pointer;
  }
}
