@use 'fonts';
@use 'mixins';
@use 'variables';

html {
  font-family: fonts.$mont;
  font-size: 16px;
  color: variables.$white;

  @include mixins.max-width(variables.$desktop-sm) {
    font-size: 15px;
  }

  @include mixins.max-width(variables.$tablet) {
    font-size: 14px;
  }

  @include mixins.max-width(variables.$phone) {
    font-size: 13px;
  }
}

h1,
.h1 {
  margin: variables.$h-one-margin;
  font-family: variables.$h-one-font;
  font-size: variables.$h-one-font-size;
  font-weight: variables.$h-one-font-weight;
  line-height: variables.$h-one-line-height;
  color: variables.$h-one-color;

  @include mixins.max-width(variables.$touch) {
    font-size: variables.$h-one-font-size-sm;
  }
}

h2,
.h2 {
  margin: variables.$h-two-margin;
  font-family: variables.$h-two-font;
  font-size: variables.$h-two-font-size;
  font-weight: variables.$h-two-font-weight;
  line-height: variables.$h-two-line-height;
  color: variables.$h-two-color;

  @include mixins.max-width(variables.$touch) {
    font-size: variables.$h-two-font-size-sm;
  }
}

h3,
.h3 {
  margin: variables.$h-three-margin;
  font-family: variables.$h-three-font;
  font-size: variables.$h-three-font-size;
  font-weight: variables.$h-three-font-weight;
  line-height: variables.$h-three-line-height;
  color: variables.$h-three-color;

  @include mixins.max-width(variables.$touch) {
    font-size: variables.$h-three-font-size-sm;
  }
}

h4,
.h4 {
  margin: variables.$h-four-margin;
  font-family: variables.$h-four-font;
  font-size: variables.$h-four-font-size;
  font-weight: variables.$h-four-font-weight;
  line-height: variables.$h-four-line-height;
  color: variables.$h-four-color;

  @include mixins.max-width(variables.$touch) {
    font-size: variables.$h-four-font-size-sm;
  }
}

h5,
.h5 {
  margin: variables.$h-five-margin;
  font-family: variables.$h-five-font;
  font-size: variables.$h-five-font-size;
  font-weight: variables.$h-five-font-weight;
  line-height: variables.$h-five-line-height;
  color: variables.$h-five-color;

  @include mixins.max-width(variables.$touch) {
    font-size: variables.$h-five-font-size-sm;
  }
}

h6,
.h6 {
  margin: variables.$h-six-margin;
  font-family: variables.$h-six-font;
  font-size: variables.$h-six-font-size;
  font-weight: variables.$h-six-font-weight;
  line-height: variables.$h-six-line-height;
  color: variables.$h-six-color;

  @include mixins.max-width(variables.$touch) {
    font-size: variables.$h-six-font-size-sm;
  }
}
