@use 'sass:color';
@use 'mixins';
@use 'variables';

/* Buttons */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: variables.$button-min-width;
  padding: variables.$button-padding;
  margin: variables.$button-margin;
  font-family: variables.$button-font;
  font-size: variables.$button-font-size;
  font-weight: variables.$button-font-weight;
  line-height: variables.$button-line-height;
  color: variables.$white;
  text-align: center;
  cursor: pointer;
  background-color: variables.$green;
  border: none;
  border-radius: variables.$button-border-radius;
  box-shadow: 0 4px 14px 4px rgba(variables.$green, 0.4);
  transition: transform 0.3s;
  transition-timing-function: ease;

  @include mixins.max-width(variables.$touch) {
    padding: variables.$button-padding-sm;
  }

  &:hover {
    color: variables.$white;
    transform: scale(1.01);
  }

  &:disabled {
    color: variables.$black;
    cursor: not-allowed;
    background-color: variables.$dark-gray;
    box-shadow: none;

    &:hover {
      color: variables.$black;
      transform: none;
    }
  }

  &--small {
    min-width: variables.$button-small-min-width;
    padding: variables.$button-small-padding;
    font-size: variables.$button-small-font-size;
    border-radius: 15px;
  }

  &--primary {
    $color: variables.$red;

    color: variables.$white;
    background-color: $color;
    border: 1px solid $color;

    &:hover {
      color: $color;
      background-color: transparent;
    }

    &.button--invert {
      color: $color;
      background-color: transparent;

      &:hover {
        color: variables.$white;
        background-color: $color;
      }
    }

    &:focus {
      outline: 0;
      box-shadow: 0 5px 10px rgba($color, 0.7);
    }
  }

  &--blue {
    $color: variables.$accent;

    color: variables.$white;
    background-color: $color;
    border-color: $color;

    &:hover {
      color: $color;
      background-color: transparent;
    }

    &.button--invert {
      color: $color;
      background-color: transparent;

      &:hover {
        color: variables.$white;
        background-color: $color;
      }
    }

    &:focus {
      outline: 0;
      box-shadow: 0 5px 10px rgba($color, 0.7);
    }
  }

  &--red {
    background-color: variables.$red;
    box-shadow: 0 4px 14px 4px rgba(variables.$red, 0.4);
  }
}

/* Inputs && Textareas */
.input,
.textarea {
  width: 190px;
  padding: variables.$input-padding;
  margin: variables.$input-margin;
  overflow: hidden;
  font-family: variables.$input-font;
  font-size: variables.$input-font-size;
  font-weight: variables.$input-font-weight;
  line-height: variables.$input-line-height;
  color: variables.$input-color;
  outline: transparent;
  background-color: variables.$input-bg-color;
  border: variables.$input-border;
  border-radius: variables.$input-border-radius;

  @include mixins.placeholder {
    font-family: variables.$input-font;
    font-size: variables.$input-font-size;
    font-weight: variables.$input-font-weight;
    line-height: variables.$input-line-height;
    color: variables.$input-color-placeholder;
    opacity: 1;
    transition:
      transform 0.3s,
      opacity 0.3s;
  }

  &:focus {
    box-shadow: variables.$input-focus;

    @include mixins.placeholder {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.textarea {
  height: variables.$textarea-height;
  padding: variables.$textarea-padding;
  margin: variables.$textarea-margin;
  resize: none;

  @include mixins.max-width(variables.$touch) {
    padding: variables.$textarea-padding-sm;
  }
}

// доделать переменные !!!
.file {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &__custom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1.25em;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: 0.01em;
    outline: 0;
    background-color: variables.$white;
    border: 1px solid #e5e5e5;
  }

  &__text {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    letter-spacing: 0.01em;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }

  &__name {
    font-weight: 400;
    line-height: 1.3;
    color: #b8b8b8;
    letter-spacing: 0.01em;
  }
}

/* Checkboxes && Radios */
.checkbox,
.radio {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  margin: variables.$checkbox-margin;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 0;
    transform: translate(-50%, -50%);

    &:checked + .checkbox__custom {
      background-color: variables.$checkbox-bg-color-active;

      .checkbox__icon {
        opacity: 1;
      }
    }
  }

  &__custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: variables.$checkbox-size;
    min-width: variables.$checkbox-size;
    height: variables.$checkbox-size;
    min-height: variables.$checkbox-size;
    margin: variables.$checkbox-custom-margin;
    background-color: variables.$checkbox-bg-color;
    border: variables.$checkbox-border;
    border-radius: variables.$checkbox-border-radius;
    transition: 0.3s;
  }

  &__text {
    display: block;
    font-family: variables.$checkbox-font;
    font-size: variables.$checkbox-font-size;
    font-weight: variables.$checkbox-font-weight;
    line-height: variables.$checkbox-line-height;
    color: variables.$checkbox-color;
  }

  &__subtext {
    display: block;
    margin: 10px 0 0;
    font-family: variables.$checkbox-font;
    font-size: 0.875rem;
    font-weight: 400;
    font-weight: variables.$checkbox-font-weight;
    line-height: variables.$checkbox-line-height;
    color: variables.$checkbox-color;
  }

  &__link {
    color: variables.$checkbox-link-color;
    text-decoration: variables.$checkbox-link-text-decoration;
    transition: color 0.3s;

    &:hover {
      color: variables.$checkbox-link-color-hover;
      text-decoration: variables.$checkbox-link-text-decoration-hover;
    }
  }

  &__icon {
    width: variables.$checkbox-icon-size;
    height: variables.$checkbox-icon-size;
    opacity: 0;
    fill: variables.$red;
    transition: 0.3s;
  }
}

.radio {
  display: flex;
  margin: 0;

  &__input {
    &:checked + .radio__custom {
      background-color: variables.$radio-bg-color-active;

      &::before {
        opacity: 1;
      }
    }
  }

  &__custom {
    position: relative;
    width: variables.$radio-size;
    min-width: variables.$radio-size;
    height: variables.$radio-size;
    min-height: variables.$radio-size;
    margin: variables.$radio-custom-margin;
    background-color: variables.$radio-bg-color;
    border-radius: variables.$radio-border-radius;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: variables.$radio-icon-size;
      height: variables.$radio-icon-size;
      content: '';
      background-color: variables.$radio-icon-bg-color;
      border-radius: variables.$radio-border-radius;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s;
    }
  }

  &--big {
    display: inline-flex;

    .radio__input:checked + .radio__custom {
      background-color: variables.$white;
      border: 2px solid variables.$green;

      &::before {
        opacity: 0;
      }
    }

    .radio__custom {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      min-width: 68px;
      height: 68px;
      min-height: 68px;
      margin: 0;
      overflow: hidden;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 18px;
      transition: 0.3s;

      &::before {
        display: none;
      }
    }

    .radio__image {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

/* Cancel (Test) */
.cancel {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  outline: none;
  background-color: variables.$red;
  border: none;
  transition: background-color 0.3s;

  &--fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    border-radius: 8px;
  }

  &:hover,
  &:focus {
    background-color: color.adjust(variables.$red, $lightness: -10%);
  }

  &__item {
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    background-color: variables.$white;
    transition: background-color 0.3s;

    &:first-child {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:last-child {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
